/* Whole document: */
body{
  font-family: Garamond;
  font-size: 12pt;
}

h1 {
  font-size: 22pt;
  font-variant: small-caps;
  font-weight: bold;
}

h2 {
  font-family: Garamond;
  font-size: 16pt;
  font-variant: small-caps;
  font-weight: bold;
}

h3 {
  font-family: Garamond;
  font-size: 14pt;
  font-variant: small-caps;
  font-weight: bold;
}

h4 {
  font-family: Garamond;
  font-size: 12pt;
  font-variant: small-caps;
  font-weight: bold;
}

table {
  font-family: Garamond;
  font-size: 9pt;  
}

code {
  font-size: 9pt;      
}


button[id*="text"] {
  font-size: 22pt;
  vertical-align: bottom;
}

button[id*="text1"] {
  font-size: 22pt;
}

button[id*="text2"] {
  font-size: 21pt;
}

button[id*="text3"] {
  font-size: 20pt;
}

button[id*="text4"] {
  font-size: 19pt;
}

button[id*="text5"] {
  font-size: 18pt;
}

button[id*="text6"] {
  font-size: 17pt;
}

input[id*="textInput"] {
  font-size: 14pt;
}
